/* Alert component */
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.alert--success {
  color: hsl(134, 61%, 21%);
  background-color: hsl(134, 41%, 88%);
  border-color: hsl(134, 41%, 83%);
}

/* Button component */
.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
}
.button--danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.button--danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

/* Arrow key (Game controls) component */
.arrow-key-container {
  display: block;
  text-align: center;
  transform: translate3d(0, 0, 0);
}
.arrow-key {
  align-items: center;
  background: #ccc;
  border-radius: 6px;
  box-shadow: -1px 1px 0 #999, -2px 2px 0 #999, -3px 3px 0 #999, -4px 4px 0 #999;
  color: #fff;
  display: inline-flex;
  font-size: 30px;
  font-weight: bold;
  height: 75px;
  justify-content: center;
  margin: 5px;
  transform: translate3d(0, 0, 0);
  transition: box-shadow .1s linear, transform .1s linear;
  width: 75px;
}
.arrow-key:active {
  box-shadow: 0px 0px 0 #999, 0px 0px 0 #999, 0px 0px 0 #999, -1px 1px 0 #999;
  transform: translate3d(-3px, 3px, 0);
}
.arrow--left:before {
  content: "\2190";
}
.arrow--up:before {
  content: "\2191";
}
.arrow--down:before {
  content: "\2193";
}
.arrow--right:before {
  content: "\2192";
}

/* Control panel  */
.controls {
  display: flex;
  align-content: center;
}
.controls > * {
  margin-top: 1em;
  margin-bottom: 3em;
}
.controls > *:not(:last-child) {
  margin-right: 1em;
}

/* General style */
select {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  height: calc(2.25rem + 2px);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.container {
  max-width: 1048px;
  margin: 0 auto;
}

.canvas-container {
  margin: 0 auto;
}

.maze {
  border: inset 5px hsl(22, 95%, 47%);
}

.disclaimer {
  font-size: 0.6em;
  margin: 3em 0 2em;
  text-align: center;
}